 .link,
 .linkLegend {
  stroke-width: 1px;
  stroke: #777;
  fill: none;
  cursor: no-drop;
  stroke-linecap: "round";
 }
 .permissionLink,
 .permissionLinkLegend {
  stroke-width: 2px;
  stroke: #208E1E !important;
 }
 .roleLink,
 .roleLinkLegend {
  stroke-width: 2px;
  stroke: #D8582B !important;
 }
 .childLink,
 .childLinkLegend {
  stroke-dasharray: 5, 5;
 }
 .link:hover {
  stroke-width: 3px;
  opacity: 0.6;
 }
 .scopeCircle {
  stroke: #3B6FBA;
  stroke-width: 1.5px;
  fill: rgba(160, 255, 149, 0.22);
  stroke-dasharray: 10, 10;
 }
 marker#marker {
  fill: #3B6FBA;
 }
 .nodetext {
  pointer-events: none;
  font: 14px sans-serif;
  font-weight: bold;
  fill: white;
 }
 .node {
  cursor: pointer;
  fill: rgba(216, 88, 43, 0.22);
 }
 .icon {} .permissionIcon {
  fill: #208E1E;
 }
 .roleIcon {
  fill: #D8582B;
 }
 .panel {
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.16);
 }